@import "tailwindcss";

@theme {
  --color-empire-black: #0f0f0f;
  --color-tatooine-sand: #eecfa1;
  --color-hologram-blue: #00f0ff;
  --color-alert-red: #ff2a2a;
  
  --font-display: "Courier New", Courier, monospace;
}

body {
  background-color: var(--color-empire-black);
  color: var(--color-tatooine-sand);
  font-family: var(--font-display);
  margin: 0;
  min-height: 100vh;
}